.shop {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.shop-contents {
    margin-top: 50px;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.shop-sidebar {
    margin-top: 50px;
    width: 25%;
}

.shop-cart-p {
    font-size: 1.5rem;
    font-weight: bold;
}

.featured-products-p {
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .shop {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .shop-contents {
        margin: auto;
        width: 90%;
        row-gap: 20px;
    }

    .shop-sidebar {
        width: 90%;
        margin: auto;
    }
}