.get-in-touch {
    width: 90%;
}

.get-in-touch-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.get-in-touch-subtitle {
    font-weight: bold;
    color: #cb9565;
    margin-bottom: 40px;
}